<footer>

    <div class="container">

        <section class="footer">

            <div class="row">

                <div class="col-lg-3  col-md-3 col-sm-3">

                    <h4>Quick Links</h4>

                    <ul class="list-unstyled">

                        <li>
                            <a class="cursor-pointer" [routerLink]="['home']" [routerLinkActive]="['active']">
                                <span class="sr-only">(Home)</span>
                            </a>
                        </li>
                        <li><a class="cursor-pointer" [routerLink]="['demos']"
                               [routerLinkActive]="['active']">Examples</a></li>
                        <li><a class="cursor-pointer" [routerLink]="['experience']" [routerLinkActive]="['active']">Experience</a>
                        </li>

                    </ul>

                </div>
                <div class="col-lg-3  col-md-3 col-sm-3">

                    <h4>Services</h4>
                    <ul class="list-unstyled">

                        <li><a href="/">(coming soon)</a></li>

                    </ul>

                </div>


                <div class="col-lg-3  col-md-3 col-sm-3">

                    <h4>Contact</h4>
                    <h5 itemprop="name"> Gary King Web development</h5>

                    <span class="ft-schema" itemscope itemtype="http://schema.org/Person">

                    <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">


                    <div class="contact-title">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> eMail

                        <a href='ma&#105;lt&#111;&#58;gar%79%6&#66;&#105;%6Egw%65%62deve&#108;%6F%70m%6&#53;%6E%74&#64;&#103;mail&#46;&#99;%6Fm'>&#103;ar&#121;kin&#103;web&#100;ev&#101;l&#111;pment&#64;g&#109;ail&#46;c&#111;m</a>
                    </div>


                    <div itemscope itemtype="http://schema.org/LocalBusiness">



                        <div itemprop="email">
                            <a href="http://www.linkedin.com/in/garybking/" title="linkedin" target="_blank"
                               class="social-media-icon linkedin-icon">linkedin</a>
                        </div>


                        <span itemprop="url"> <a href="http://garykingsolutions.com">garykingsolutions.com</a></span>
                        <div itemprop="telephone"><i class="fa fa-phone-square"
                                                     aria-hidden="true"></i> 206-447-5196</div>
                        <span itemprop="addressLocality"> Seattle</span>,
                        <span itemprop="addressRegion"> WA</span>
                        <span itemprop="postalCode"> 98125</span>
                    </div>

                     </span><!-- end Postal Address -->

                   </span><!-- end schema -->

                    <br>

                </div>


                <div class="col-lg-3  col-md-3 col-sm-3">

                    <div class="footer_dv">

                        <h4>Admin</h4>
                        <div>
                            <span><loginform></loginform></span>
                        </div>

                    </div>
                </div>

            </div><!-- end row -->

        </section>

    </div><!-- end container -->

</footer>