<h1 class="">{{pagetitle}}</h1>

<section class="row page-bottom wow fadeIn">

    <div class="col-lg-6 col-md-6 col-sm-12">

        <h2>Web Dev</h2>
    </div>

</section>

<div id="wrapper">

    <div class="top_wrapper">

        <!-- Header -->


        <header id="header">
            <div class="container">

                <div class="row header">

                    <!-- Logo -->
                    <div class="col-md-4 col-sm-4 col-xs-4 logo">

                        <div class="center-title">

                            <h1><a href="index.php">GARY KING <span>Web Developer</span></a></h1>

                        </div>

                    </div>


                    <!-- Navigation File -->
                    <div class="col-md-8">

                        <!-- Mobile Button Menu -->
                        <div class="mobile-menu-button">
                            <i class="icon-reorder"></i>
                        </div>
                        <!-- //Mobile Button Menu// -->


                        <nav>
                            <ul class="navigation">
                                <li>
                                    <a href="index.php">
                                    <span class="label-nav">
                                        Home
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skills.php">
                                    <span class="label-nav">
                                        Skills
                                    </span>
                                    </a>

                                </li>

                                <li>
                                    <a href="examples.php">
                                    <span class="label-nav">
                                        Examples
                                    </span>
                                    </a>

                                </li>

                                <li>
                                    <a href="testimonials.php">
                                    <span class="label-nav">
                                        Testimonials
                                    </span>
                                    </a>

                                </li>

                                <li>
                                    <a href="contact.php">
                                    <span class="label-nav">
                                        Contact
                                    </span>
                                    </a>

                                </li>
                            </ul>

                        </nav>


                        <!-- Mobile Nav. Container -->
                        <ul class="mobile-nav">
                            <li class="responsive-searchbox">
                                <!-- Responsive Nave -->
                                <!--<form action="#" method="get">
                                    <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                                    <button class="icon-search"></button>
                                </form>-->
                                <!-- //Responsive Nave// -->
                            </li>
                        </ul>
                        <!-- //Mobile Nav. Container// -->
                    </div>
                    <!-- Nav -->

                </div>
                <!-- Nav -->

            </div>


        </header>
        <!-- //Header// --><!-- nav -->

        <div class="top-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 page-info">
                        <h1 class="h1-page-title">Skills </h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--.top wrapper end -->

    <div class="loading-container">
        <div class="loading">
            <i></i><i></i>
        </div>
        <div class="loading-fallback">
            <img src="images/loading.gif" alt="Loading"/>
        </div>
        <div class="loading-text">
            loading..
        </div>
    </div>


    <div class="content-wrapper hide-until-loading">
        <div class="body-wrapper">
            <div class="container">

                <div class="row">
                    <div class="space-sep40"></div>
                    <div class="col-md-7 col-sm-7">

                        <!-- start accordion -->


                        <h2>Skills</h2>

                        <div class="accordion dark-accordion" data-toggle="on" data-active-index="0">


                            <div class="accordion-row">

                                <div class="title">
                                    <i class="accord-icon icon-plus-sign"></i>

                                    <h3>AngularJS/NodeJS</h3>
                                </div>
                                <div style="display: none;" class="desc">
                                    <h4>Framework Management</h4>

                                    <p>AngularJS is what HTML would have been, had it been designed for building
                                        web-apps.</p>

                                    <p> AngularJS is a toolset for building the framework most suited to your
                                        application development. It is fully extensible and works well with other
                                        libraries. Every feature can be modified or replaced to suit your unique
                                        development workflow and feature needs. AngularJS runs with
                                        <strong>NodeJS</strong>.
                                        (NodeJS is an open-source, cross-platform runtime environment for developing
                                        server-side Web applications.)
                                    </p>
                                    <!-- -->

                                    <h5>Proficiency</h5>

                                    <div class="progress animated"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60%"
                                             aria-valuemin="0" aria-valuemax="60%" style="width: 0;">
                                            <span class="progress-bar-title"> AngularJS [1.8.3, 2.0.0] Framework </span>
                                            <span class="progress-bar-value">60%</span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="accordion-row">

                                <div class="title">
                                    <i class="accord-icon icon-plus-sign"></i>

                                    <h3>HTML5/CSS3/LESS</h3>
                                </div>
                                <div style="display: none;" class="desc">
                                    <h4>Improved appearance with CSS3</h4>

                                    <p>Everyone seems to be talking about the advantages of CSS3 and what it can do.
                                        Along with HTML5 it's really improves the way that we design for the web, making
                                        the implementation of seemingly simple design elements, actually simple!</p>

                                    <p>However you'll probably know all browsers do not recognise it, IE6 – 8 doesn't.
                                        Therefore you will need to combine elements of CSS3, HTM5 and jQuery or
                                        JavaScript</p>
                                    <!-- -->

                                    <h5>Proficiency</h5>

                                    <div class="progress animated"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90%"
                                             aria-valuemin="0" aria-valuemax="90%" style="width: 0;">
                                            <span class="progress-bar-title"> CSS3 </span>
                                            <span class="progress-bar-value">90%</span>
                                        </div>
                                    </div>

                                    <!-- -->

                                    <div class="progress animated"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90%"
                                             aria-valuemin="0" aria-valuemax="90%" style="width: 0;">
                                            <span class="progress-bar-title"> HTML5 </span>
                                            <span class="progress-bar-value">90%</span>
                                        </div>
                                    </div>

                                    <!-- -->

                                    <div class="progress animated"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60%"
                                             aria-valuemin="0" aria-valuemax="60%" style="width: 0;">
                                            <span class="progress-bar-title"> LESS </span>
                                            <span class="progress-bar-value">60%</span>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="accordion-row">

                                <div class="title">
                                    <i class="accord-icon icon-plus-sign"></i>

                                    <h3>jQuery/JavaScript</h3>
                                </div>
                                <div style="display: none;" class="desc">
                                    <h5>jQuery seamlessly handles crossbrowser issues</h5>

                                    <p>jQuery makes using a Web page's DOM (document object model), adding effects to
                                        the page, animating elements, and executing Ajax calls to the server extremely
                                        simple, hiding the complexity of the underlying JavaScript. There are a number
                                        of benefits to using jQuery instead of writing your own raw JavaScript or
                                        building your own library.</p>


                                    <!-- -->

                                    <h5>Proficiency</h5>

                                    <div class="progress animated"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="85%"
                                             aria-valuemin="0" aria-valuemax="85%" style="width: 0;">
                                            <span class="progress-bar-title"> jQuery </span>
                                            <span class="progress-bar-value">85%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-row">

                                <div class="title">
                                    <i class="accord-icon icon-plus-sign"></i>

                                    <h3>Cross browser compatibility</h3>
                                </div>
                                <div style="display: none;" class="desc">
                                    <h5>Not all browsers are created equal</h5>

                                    <p>If you've been playing around with CSS3 then you'll probably know which browsers
                                        recognise it and which don't, but in case you aren't sure… The newest versions
                                        of Chrome, Safari, Opera, and Firefox render most of the basics at the moment,
                                        but IE6 – 8 doesn't.</p>

                                    <p>Testing the cross-browser compatibility of your website is something each website
                                        owner should do. Although you have your own preferred browser, your website
                                        visitors may not be using the same web browser as you.</p>

                                    <p>If you are redesigning an existing website, you could look at the website stats
                                        for your website and see which browsers (and operating systems) the past
                                        visitors have been using. Understand, this is not a recommendation to ignore the
                                        less frequently used browsers of your visitors, but an exercise to show you what
                                        browser your website visitors are using.</p>

                                    <!-- -->

                                    <h5>Proficiency</h5>

                                    <div class="progress animated"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="95%"
                                             aria-valuemin="0" aria-valuemax="95%" style="width: 0;">
                                            <span class="progress-bar-title"> Cross Browser Compatibility </span>
                                            <span class="progress-bar-value">95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-row">

                                <div class="title">
                                    <i class="accord-icon icon-plus-sign"></i>

                                    <h3>Responsive Design</h3>
                                </div>
                                <div style="display: none;" class="desc">
                                    <h5>Mobile phones to desktop computer monitors</h5>

                                    <p>Responsive web design is a way of making a single website that works effectively
                                        on both desktop browsers and the myriad of mobile devices on the market.
                                        Responsive architecture gives the best quality browsing experience - whether on
                                        a smartphone, tablet, netbook or e-reader, and regardless of the operating
                                        system.</p>

                                    <p>People who browse while on-the-go have very different needs than those sitting at
                                        a desk. Responsive web sites re-organize themselves automatically according to
                                        the device viewing them, so that the same website provides a great experience
                                        everywhere. Desktops get a full-blown interface with videos, large images and
                                        animations. Smartphones get a simplified website that runs fast without the
                                        bells and whistles. Tablets and netbooks get something in between.</p>


                                    <!-- -->

                                    <h5>Proficiency</h5>

                                    <div class="progress animated"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="85%"
                                             aria-valuemin="0" aria-valuemax="85%" style="width: 0;">
                                            <span class="progress-bar-title"> Responsive Design </span>
                                            <span class="progress-bar-value">85%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-row">

                                <div class="title">
                                    <i class="accord-icon icon-plus-sign"></i>

                                    <h3>PHP</h3>
                                </div>
                                <div style="display: none;" class="desc">
                                    <h5>Mobile phones, tablets to desktop computer monitors</h5>

                                    <p>PHP and MySQL combine to be an easy yet powerful way to create dynamic web pages
                                        that actually interact with your visitors. HTML can create useful and well
                                        formatted web pages. With the addition of PHP and MySQL you can collect data
                                        from your users, create specific content on the fly, and do many other things
                                        that HTML alone can't do.</p>

                                    <p>The beauty of PHP as a language is that it is designed to be used along with
                                        HTML. You can use PHP right inside your already existing HTML content, or put
                                        HTML tags right inside your PHP coding. When learning PHP you are not making
                                        your existing HTML knowledge obsolete, you are instead adding to it to give it
                                        more functions and abilities.</p>

                                    <!-- -->

                                    <h5>Proficiency</h5>

                                    <div class="progress animated"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75%"
                                             aria-valuemin="0" aria-valuemax="75%" style="width: 0;">
                                            <span class="progress-bar-title"> PHP/MYSQL/ORM</span>
                                            <span class="progress-bar-value">75%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-row">

                                <div class="title">
                                    <i class="accord-icon icon-plus-sign"></i>

                                    <h3>OOP/PHP Frameworks/MVC</h3>
                                </div>
                                <div style="display: none;" class="desc">
                                    <h5>Architecture and structural support</h5>

                                    <p>A PHP Framework is a software framework that is designed to support the
                                        development of dynamic websites, web applications, web services and web
                                        resources. The framework aims to alleviate the overhead associated with common
                                        activities performed in web development. For example, many frameworks provide
                                        libraries for database access, templating frameworks and session management, and
                                        they often promote code reuse. </p>

                                    <!-- -->

                                    <h5>Proficiency</h5>

                                    <div class="progress animated"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60%"
                                             aria-valuemin="0" aria-valuemax="60%" style="width: 0;">
                                            <span class="progress-bar-title">OOP/Frameworks/MVC/ORM</span>
                                            <span class="progress-bar-value">60%</span>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="col-md-5 col-sm-5">
                        <div class="left-title">
                            <div class="">
                                <h2>Glossary</h2>

                                <ul>

                                    <li><strong>HTML5</strong>: is a core technology markup language of the Internet
                                        used for structuring and presenting content for the World Wide Web. It is the
                                        fifth revision of the HTML standard. HTML5 is intended to subsume not only HTML
                                        4, but also XHTML 1 and DOM Level 2 HTML.<br/><br/></li>

                                    <li><strong>CSS3 (Cascading Style Sheets)</strong>: is a style sheet language used
                                        for describing the look and formatting of a document written in a markup
                                        language. While most often used to style web pages and user interfaces written
                                        in HTML and XHTML, the language can be applied to any kind of XML document,
                                        including plain XML, SVG and XUL. CSS is a cornerstone specification of the web
                                        and almost all web pages use CSS style sheets to describe their
                                        presentation.<br/><br/></li>

                                    <li><strong>jQuery</strong>: is a cross-platform JavaScript library designed to
                                        simplify the client-side scripting of HTML.<br/><br/>

                                        jQuery's syntax is designed to make it easier to navigate a document, select DOM
                                        elements, create animations, handle events, and develop Ajax applications.
                                        jQuery also provides capabilities for developers to create plug-ins on top of
                                        the JavaScript library.
                                        <br/><br/></li>

                                    <li><strong>LESS</strong>: is inspired by Sass.[6] Sass was designed to both
                                        simplify and extend CSS, so things like curly braces were removed from the
                                        syntax. LESS was designed to be as close to CSS as possible, so the syntax is
                                        identical to existing CSS code. As a result, existing CSS can be used as valid
                                        LESS code.<br/><br/></li>

                                    <li><strong>PHP/MYSQL</strong>: PHP is a server-side scripting language designed for
                                        web development but also used as a general-purpose programming
                                        language.<br/><br/>
                                        MySQL is a relational database management system (RDBMS), and ships with no GUI
                                        tools to administer MySQL databases or manage data contained within the
                                        databases.
                                        <br/><br/></li>

                                    <li><strong>IDE (integrated development environment)</strong>: is a software
                                        application that provides comprehensive facilities to computer programmers for
                                        software development. An IDE normally consists of a source code editor, build
                                        automation tools and a debugger. Most modern IDEs offer Intelligent code
                                        completion features.<br/><br/></li>

                                    <li><strong>MVC (Model View Controller) </strong>:
                                        Many frameworks follow the MVC architectural pattern to separate the data model
                                        with business rules from the user interface. This is generally considered a good
                                        practice as it modularizes code, promotes code reuse, and allows multiple
                                        interfaces to be applied. In web applications, this permits different views to
                                        be presented, such as web pages for humans, and web service interfaces for
                                        remote applications.<br/><br/></li>

                                    <li><strong>Version Control</strong>: In computer software engineering, revision
                                        control is any kind of practice that tracks and provides control over changes to
                                        source code. Software developers sometimes use revision control software to
                                        maintain documentation and configuration files as well as source code.<br/><br/>
                                    </li>


                                    <li><strong>ORM (Object Relational Mapping)</strong>: technique for converting data
                                        between incompatible type systems in object-oriented programming languages. This
                                        creates, in effect, a "virtual object database" that can be used from within the
                                        programming language. There are both free and commercial packages available that
                                        perform object-relational mapping, although some programmers opt to create their
                                        own ORM tools.
                                        <br/><br/></li>


                                    <li><strong>Templates</strong>: A web template system uses a template processor to
                                        combine web templates to form finished web pages, possibly using some data
                                        source to customize the pages or present a large amount of content on
                                        similar-looking pages. It is a web publishing tool present in content management
                                        systems, web application frameworks, and HTML editors. <br/><br/></li>

                                    <li><strong>Validation</strong>: The common use of the term refers to checking an
                                        HTML document for various problems using some type of computerized checker Used
                                        commonly in forms and login credentials. <br/><br/></li>

                                    <li><strong>Ajax, shorthand for "Asynchronous JavaScript and XML"</strong>: is a web
                                        development technique for creating web applications. The intent is to make web
                                        pages feel more responsive by exchanging small amounts of data with the server
                                        behind the scenes, so that the entire web page does not have to be reloaded each
                                        time the user requests a change. This is intended to increase a web page's
                                        interactivity, speed, and usability. <br/><br/></li>


                                </ul>

                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
    <!--.content-wrapper end -->

    <footer>
        <div class="footer">

            <div class="container">
                <div class="footer-wrapper">
                    <div class="row">


                        <!-- Footer Col. -->
                        <div class="col-md-3 col-sm-3 footer-col">
                            <div class="footer-content">
                                <div class="footer-content-logo">
                                    <!-- <img src="images/logo.png" alt=""/>-->
                                </div>
                                <div class="footer-content-text">
                                    <!--<p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor.</p>
                                    <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor.</p>-->
                                </div>
                            </div>
                        </div>
                        <!-- //Footer Col.// -->

                        <!-- Footer Col. -->
                        <div class="col-md-3 col-sm-3 footer-col">

                            &nbsp;&nbsp;&nbsp;&nbsp;

                        </div>
                        <!-- //Footer Col.// -->

                        <!-- Footer Col. -->
                        <div class="col-md-3 col-sm-3 footer-col">
                            <div class="footer-title"></div>

                            <div class="footer-content">

                            <span class="ft-schema" itemscope itemtype="http://schema.org/Person">
                                <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">

                                <ul class="contact-info">
                                    <li class="social-icons">
                                        <a href="http://www.linkedin.com/in/garybking/" title="linkedin" target="_blank"
                                           class="social-media-icon linkedin-icon">linkedin</a>
                                        </li>
                                    <li>
                                    <div class="contact-title">
                                        <i class="icon-phone"></i>phone
                                    </div>
                                    <div class="contact-details">

                                        <div itemprop="telephone">
                                            206-447-5196
                                        </div>

                                        <span itemprop="addressLocality">
                                        Seattle, </span>
                                        <span itemprop="addressRegion">WA</span>
                                        </div>

                                    </li>
                                </ul>


                            <div class="contact-title">
                                <i class="icon-envelope"></i> eMail
                            </div>

                            <div class="contact-details">
                                <a class="email" rel="gary|garykingweb.com?subject=Web Inquiry"
                                   title="Click here to email me">&nbsp;</a>
                            </div>


                            </span><!-- end Postal Address -->
                            </span><!-- end schema -->

                            </div>

                            <!-- //Footer Col.// -->

                            <!-- Footer Col. -->
                            <div class="col-md-3 col-sm-3 footer-col">
                                &nbsp;&nbsp;&nbsp;
                            </div>
                            <!-- //Footer Col.// -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div><!-- end wrapper -->

