<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">gary king solutions &nbsp;&nbsp;</a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">

                <li><a class="cursor-pointer" [routerLink]="['home']" [routerLinkActive]="['active']">Home</a></li>

                <li><a class="cursor-pointer" [routerLink]="['demos']" [routerLinkActive]="['active']">Examples</a></li>

                <li><a class="cursor-pointer" [routerLink]="['experience']"
                       [routerLinkActive]="['active']">Experience</a></li>

                <li class="dropdown" *ngIf="isAuth()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <a>Dashboard</a>
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a class="cursor-pointer" [routerLink]="['/signup']" [routerLinkActive]="['active']">Add User</a></li>
                        <li class=""><a style="cursor: pointer;">Add Content</a></li>
                        <li><a class="cursor-pointer" [routerLink]="['/edit-page']" [routerLinkActive]="['active']">Edit Page</a></li>

                    </ul>
                </li>

                    <li class="small" *ngIf="isAuth()"><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

</nav>