<h1 class="">{{pagetitle}}</h1>

<section class="row page-bottom wow fadeIn">

    <div class="col-lg-6 col-md-6 col-sm-12 bg-transparent">

        <h2>Select Task</h2>

        <h3>Add Users</h3>

        <ul class="list unstyled">
            <li>
                <a class="cursor-pointer" [routerLink]="['/signup']" [routerLinkActive]="['active']">Add User</a>
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>Add/Edit content</li>
            <ul>
                <li><a class="cursor-pointer" [routerLink]="['/edit-page']" [routerLinkActive]="['active']">Edit Page</a></li>
                <li>Edit page for each page</li>
                <li>Forms to include Sections, Articles and Aside elements

                    <span>The section element represents a generic section of a document or application. A section, in this context, is a thematic grouping of content, typically with a heading. [...]
                    </span>

                    <span>The article element represents a complete, or self-contained, composition in a document, page, application, or site and that is, in principle, independently distributable or reusable content.
                    </span>

                    <section id="main">
                        <article>
                            <!-- first blog post -->
                        </article>

                        <article>
                            <!-- second blog post  -->
                        </article>

                        <article>
                            <!-- third blog post -->
                        </article>
                    </section>

                    <article>
                        <section id="introduction">
                        </section>

                        <section id="content">
                        </section>

                        <section id="summary">
                        </section>
                    </article>
                </li>

                <li>Headings preformatted for Articles</li>
            </ul>
            <li style="color: #669966;">Add Users</li>
            <li>Add Pages</li>
            <li>Add Assets (images etc)</li>
            <li>Check email?</li>
            <li>Add hours and update contact info etc</li>
            <li>Add child pages</li>
        </ul>

        <h3>GKS</h3>
        <ul class="list-unstyled">
            <li>Add content</li>
            <li>Add Users</li>
            <li>Add Pages</li>
            <li>Add Assets (images etc)</li>
            <li>Check email?</li>
            <li>Add hours and update contact info etc</li>
            <li>Add child pages</li>
        </ul>

    </div>

</section>