<h1 class="">{{pagetitle}}</h1>

<section class="page-bottom wow fadeIn">

    <h2>Website coming soon!</h2>

    <div class="container">
        <div class="row">

            <div class="col-md-7 col-sm-7">

                <section class="">
                    <h3>I'm a Seattle-based Web Developer with more than 12 years professional experience.</h3>


                    <h4 style="color: #669966;">Recruiters / Potential Clients:</h4>

                    I am currently unavailable for jobs or projects. My calendar is full.  Thanks and please check back at a later date... Gary

                    <div class="left-title">

                        <div class="space-sep40"></div>

                        <ul class="icon-content-list-container">

                            <li class="icon-content-single">

                                <div class="content-box  style5  mauve animated "
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s" >

                                    <h4 class="h4-body-title">
                                        <strong>Front end &amp; back end </strong> development

                                        <i class="icon-gears"></i>
                                    </h4>

                                    <div class="content-box-text">
                                        <p>HTML5, CSS3, PHP, Angular[1.8][2.0], Node, Adobe Creative Suite and jQuery. </p>
                                    </div>
                                </div>
                            </li>

                            <li class="icon-content-single">

                                <div class="content-box  style5  mauve animated "
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                >
                                    <h4 class="h4-body-title">

                                        <strong>Responsive </strong> Site Development

                                        <i class="icon-tablet"></i>
                                    </h4>

                                    <div class="content-box-text">
                                        <p>

                                        <p>Recent projects creating online products:</p>
                                        <ul>

                                            <li><strong>Developed the Site Manager, a web development templating engine for <br />
                                                <i class="icon-circle-arrow-right"></i>&nbsp
                                                <a href="http://www.sesamewebdesign.com/sds-gallery.php">
                                                    Sesame Responsive Web Design templates</a></strong>
                                                <br/>(HTML5, CSS3, LESS, jQuery, AngularJS, PHP)
                                                <br /><br />
                                            </li>

                                            <li>
                                                <strong>Including the following tool modules:</strong><br />
                                                Color Styler<br />
                                                301 Redirect Generator<br />
                                                Social and Affiliation creation tool<br />
                                                HTML Generator<br />
                                                SEO Schema Generator<br />
                                                Font Manager<br />
                                                Image Manager<br />
                                                <br />
                                            </li>

                                            <li><strong><a href="http://www.smilenow.com/orthodontic-treatment.php">
                                                Sesame Communications Landing Pages</a></strong>
                                                <br/>(HTML5, CSS3, jQuery)<br /><br />
                                            </li>

                                            <li><strong><a href="/examples.php">Developed over 400 websites</a></strong>
                                                during the last 5.5 years
                                                <br/>(HTML5, CSS3, LESS, jQuery, AngularJS, PHP)
                                            </li>

                                        </ul>

                                    </div>
                                </div>


                            <li class="icon-content-single">

                                <div class="content-box  style5  mauve animated "
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s">

                                    <h4 class="h4-body-title">
                                        <strong>Standards Compliant</strong>
                                        <i class="icon-html5"></i>
                                    </h4>

                                    <div class="content-box-text">
                                        <p>Standards Compliant, Quality Assurance, Cross-Browser Compatible
                                            Websites. </p>

                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </section>

                <hr/>

            </div>

            <div class="col-md-5 col-sm-5">

                <h2>Technology</h2>

                <h3>Languages &amp; Markup</h3>

                <p>HTML5
                    <br/>AJAX
                    <br/>jQuery
                    <br/>Angular[1.8][2.0]
                    <br/>CSS3
                    <br/>LESS
                    <br/>PHP
                    <br/>JavaScript
                </p>


                <h3>Frameworks</h3>

                <p>AngularJS/Nodejs
                    <br />WordPress
                    <br />

                </p>

                <h3>Concepts</h3>

                <p> OOP
                    <br/>Responsive Design
                    <br/>jQuery Animations
                    <br/>PSD Wireframes
                    <br/>Landing Pages
                    <br/>UI/UX
                    <br/>W3C Compliancy
                    <br/>CMS
                </p>


                <h3>IDE</h3>

                <p>Adobe Creative Suite
                    <br/>NetBeans
                    <br/>PhpStorm
                    <br/>Aptana

                </p>

                <h3>Version Control</h3>

                <p>
                    GitHub
                    <br/>Bitbucket
                </p>


            </div>


            </div>
        </div>
</section>



